@model IEnumerable<string>
@{
    Layout = null;
}
@if (Model == null)
{
    <div>
        <p>


            N/A


        </p>
    </div>
}
else
{
    <div style="display:flex; flex-direction: column; ">
        @foreach (var item in Model)
        {
            <span>@item </span>
        }
    </div>

}
